:root {
  --body-width: 44rem;
  --horizontal-padding: 1rem;
  --settings-width: 2rem;
}

.add {
  color: #40C040;
}

.add,
.delete,
.enabled {
  box-sizing: border-box;
  font-size: 1.75rem;
  line-height: 0;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  width: var(--settings-width);
}

.add-old-route {
  align-items: center;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 100%;
}

body {
  background-color: #202020;
  color: #F0F0F0;
  margin: 0;
  padding: 0;
  max-width: var(--body-width);
  min-width: var(--body-width);
}

.delete > span {
  color: #C04040;
  cursor: pointer;
}

footer {
  padding: 0 var(--horizontal-padding) 1rem var(--horizontal-padding);
}
  
html {
  font-size: 16px;
}

input {
  background-color: #404040;
  border: 1px solid #808080;
  border-radius: 2px;
  box-sizing: border-box;
  color: #F0F0F0;
  flex-grow: 1;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

main {
  padding: 1rem var(--horizontal-padding);
}

.route-column {
  max-width: calc((
    var(--body-width) -
    var(--horizontal-padding) -
    var(--settings-width) * 2 -
    2px
  ) / 2);
  padding: 0.5rem 1rem;
}

table {
  border-spacing: 0;
  max-width: 100%;
}

tbody > tr > .route-column {
  border-right: 1px solid #282828;
  box-sizing: border-box;
  vertical-align: top;
}

tbody > tr > .route-column > div {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  hyphens: none;
  overflow-wrap: break-word;
  word-break: break-all;
}

tfoot > tr > .route-column {
  border-right: 1px solid #282828;
}

tfoot > tr > td {
  border-top: 1px solid #404040;
  vertical-align: middle;
}

thead > tr > .route-column {
  border-right: 1px solid #282828;
}

thead > tr > .route-column:after {
  content: ":";
}

thead > tr > th {
  border-bottom: 1px solid #404040;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: left;
}
